:root{
    --color-star: #EDA836;
    --color-bg: #D9D9D9;
    --color-1: #E1E1E1;
    --color-heart: #FF8E8E;
    --color-bubble: #DD0606;
  }

.container-body{
    margin-top: 5rem;

}

.body-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


