:root{
    --color-star: #EDA836;
    --color-bg: #F9F9F9;
    --color-border: #E1E1E1;
    --color-heart: #FF8E8E;
    --color-bubble: #DD0606;
}
.container-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 24px;
    border: 1px;
    border-color: var(--color-border);
    border-style: solid;
    max-width: 300px;
    min-height: 400px;
    
    font-family: Kumbh Sans;
    
}
.header-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    background-color: #fff;
    border-radius: 23px;
    border: 1px;
    border-color: var(--color-border);
    border-style: solid;
}
.card-product{
    display: flex;
    justify-content: center;
    width: 250px;
}

.card-info{
    display: flex;
    justify-content: space-between;

    width: 200px;
    
}
.info-name{
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.info-price{
    font-weight: bold;
    margin-bottom: 0.3rem;
    
}
.info-description{
    font-size: 0.7rem;
    margin-bottom: 1rem;
}
.info-lastprice{
    font-size: 0.7rem;
    margin-bottom: 1rem;
    text-decoration: line-through;
}

.product-img{
    width: 250px;
    height: 250px;
}

.footer-card{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.redes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}
.social-title{
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
}
.social-img{
    height: 10px;
    width: auto;
}
.button{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: #000;
    padding: 0.5rem 1rem;
}
.button:hover{
    color: #fff;
}
.button-card{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px;
    border-color: var(--color-star);
    background-color: #fff;
    border-style: solid;
}
.button-card:hover{
    background-color: var(--color-star);
}
.status-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    
    position: absolute;
    top: 25px; right: -20px;
    z-index: 1;
}

.liked-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    gap: 0.2rem;
    
    height: 30px;
    width: 50px;
    padding: 0 0.1rem;
    background-color: #fff;
    border-radius: 20px;
    border: 2px;
    border-color: var(--color-border);
    background-color: #fff;
    border-style: solid;
}
.liked-tag img{
    height: 15px;
    width: auto;
}

.sale-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    padding: 0 0.1rem;

    height: 30px;
    width: 50px;
    border-radius: 20px;
    background-color: var(--color-heart);
}
.card-rating{
    width: 200px;
    margin-bottom: 1rem;
}
.star{
    color: var(--color-border);
    cursor: pointer;
    transform: scale(var(--scale, 1));
    transition: transform 0.25s;
    
}
.star:hover{
    color: var(--color-star);
    --scale: 1.2;
    cursor:pointer;
}
.heart{
    color: var(--color-heart);
    cursor: pointer;
    transform: scale(var(--scale, 1));
    transition: transform 0.1s;
    
}
.heart:hover{
    color: var(--color-heart);
    --scale: 1.2;
    cursor:pointer;
}